DJANGO_SECRET_KEY=replace-this-key
DEBUG=1
ALLOWED_HOSTS=*
MONGO_URI=mongodb://mongodb:27017/dealership
NODE_API_BASE=http://node-api:3001
SENTIMENT_API_BASE=http://sentiment-service:5001
VITE_PROXY_TARGET=http://django-backend:8000
